@{
    Layout = "_base";
}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="hotel-title">Welcome to Le Celestia Hotel</h1>
        <img src="/images/design1.png" alt="Decorative Design" class="decorative-design">
        <p class="hotel-description">
            Where comfort meets elegance. Whether you choose our Standard, Deluxe, or Suite rooms, 
            we ensure a relaxing stay with top-notch amenities and exceptional service. 
            Book with us for a memorable experience!
        </p>
    <button class="book-now-btn" onclick="window.location.href='/Sidebar/RoomBooking'">Book Now!</button>    
</div>

    <div class="hero-image">
        <img src="/images/pic1.png" alt="Hotel Image" class="hotel-img">
        <img src="/images/two-pointed-line.png" alt="" class="decorative-line">
    </div>
</div>
